/* app css stylesheet */

.jumbotron {
    background-image: url("background.jpg");
    background-size: cover;
    text-align: center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color: white;
}

body {
    background-color: blanchedalmond;
}

.tabelka {
    width: 400px;
}

.stopka {
    text-align: center;
}

.menulink {
    color: white;
}

.accordion__container {
    background-color: bisque;
    border: 1px solid #ccc;
    padding: 20px;
}

.accordion__tab {
    background: orange;
    color: #fff;
    border-bottom: 1px solid white;
}

.accordion__tab-title {
    font-size: 16px;
    font-weight: bold;
    background: orangered;
    padding: 5px;
    cursor: pointer;
}

.accordion__tab-content {
    background: orange;
    color: #cccccc;
    padding: 20px;
}