<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
            <h1>DESERY</h1>
            <p>Przepisy na pyszne desery</p>
    </div>

    <div ng-controller="MyController" class="row">
        <div ng-click="clickMenu(1);" ng-app class="col-sm-2">
            <div class="accordion__container" ng-controller="myCtrl">
                <div class="accordion__tab">
                    <div class="accordion__tab-title" ng-click="openTab('tab one')">O stronie</div>
                    <div class="accordion__tab-content" ng-show="isOpenTab('tab one')">
                        <a class="menulink" href="#/view0">Strona główna</a><br />
                        <a class="menulink" href="#/view1">Kontakt</a>
                    </div>
                </div>
                <div class="accordion__tab">
                    <div class="accordion__tab-title" ng-click="openTab('tab two')">Desery na zimno</div>
                    <div class="accordion__tab-content" ng-show="isOpenTab('tab two')">
                        <a class="menulink" href="#/view2">Lody z zielonej herbaty</a><br />
                        <a class="menulink" href="#/view4">Jogurtowy tort lodowy</a>
                    </div>
                </div>
                <div class="accordion__tab">
                    <div class="accordion__tab-title" ng-click="openTab('tab three')">Desery na ciepło</div>
                    <div class="accordion__tab-content" ng-show="isOpenTab('tab three')">
                        <a class="menulink" href="#/view3">Ciasteczka czekoladowe</a><br />
                        <a class="menulink" href="#/view5">Naleśniki z czekoladą</a>
                    </div>
                </div>
            </div>

        </div>
        Kliknąłeś w menu {{times}} razy.
        <div class="col-sm-10">
            <div ng-view></div>
        </div>
    </div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <footer class="stopka">Wersja strony: v<span app-version></span>. Wszystkie przepisy pochodzą ze strony <a href="http://www.kwestiasmaku.com">www.kwestiasmaku.com</a></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="view0/view0.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="view3/view3.js"></script>
    <script src="view4/view4.js"></script>
    <script src="view5/view5.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
