<div id="contentContainer">
    <div id="content">
        <span style="font-size:16px; color:#CC0033;font-weight:bold; ">Naleśniki z czekoladą i musem malinowym </span><div class="g-plusone" data-size="medium" data-annotation="none"></div>
        <strong><br /></strong><br /><strong>Mus malinowy do naleśnik&oacute;w można zrobić r&oacute;wnież z malin mrożonych.<br /></strong><br />
        <br /><div class="image-left">
        <a href="http://www.kwestiasmaku.com/blog-kulinarny/nalesniki-czekoladowe/" rel="self" title="Naleśniki czekoladowe">
            <img src="nalesniki1.jpg" width="250px" height="250px" />
        </a>
    </div>
        <span style="color:#CC0033;font-weight:bold; "><br /></span>
        <span style="color:#CC0033;font-weight:bold; ">Naleśniki kakaowe, około 20 sztuk o średnicy 23 cm:<br /><br /></span>
        <span style="color:#CC0033;">	&bull;	</span>230 g mąki pszennej (np. typ 500, wrocławska)<br />
        <span style="color:#CC0033;">	&bull;	</span>3,5 łyżki kakao gorzkiego<br />
        <span style="color:#CC0033;">	&bull;	</span>szczypta soli<br />
        <span style="color:#CC0033;">	&bull;	</span>3,5 łyżki cukru<br /><span style="color:#CC0033;">	&bull;	</span>4 duże jajka<br />
        <span style="color:#CC0033;">	&bull;	</span>630 ml mleka<br /><span style="color:#CC0033;">	&bull;	</span>60 g masła, roztopionego<br />
        <span style="color:#CC0033;font-weight:bold; ">Do podania:<br /></span><br />
        <span style="color:#CC0033;">	&bull;	</span>
        <span style="color:#CC0033;font-weight:bold; ">krem czekoladowy</span> (200 g czekolady deserowej - <em>rich chocolate</em>, 200 ml śmietanki 30% w kartoniku)<br />
        <span style="color:#CC0033;">	&bull;	</span>
        <span style="color:#CC0033;font-weight:bold; ">mus malinowy</span> (450 g mrożonych lub świeżych malin, 4 łyżki cukru pudru, 2 łyżki cukru wanilinowego lub 1 łyżeczka ekstraktu lub pasty waniliowej, oraz opcjonalnie: 1 łyżeczka startej sk&oacute;rki z pomarańczy lub 1 łyżka likieru pomarańczowego)<br /><span style="color:#CC0033;">	&bull;	</span>świeże maliny (w sezonie)<br /><span style="color:#CC0033;">	&bull;	</span>bita śmietana<br /><span style="color:#CC0033;">	&bull;	</span>cukier puder<br /><br /><span style="color:#CC0033;font-weight:bold; ">Przygotowanie:<br /></span>
        <ul class="disc"><li><span style="color:#CC0033;font-weight:bold; ">Naleśniki kakaowe: </span>Do dużej miski przesiać mąkę oraz kakao, dodać s&oacute;l, cukier oraz jajka. Wlać szklankę mleka i wszystko zmiksować na gładką masę, dodać resztę mleka i dokładnie zmiksować. Do jednolitej i gładkiej masy bez grudek dodać roztopione masło i zmiksować. Odstawić na 10 minut, następnie można już smażyć cienkie naleśniki. Nabierać porcję ciasta łyżką wazową, wcześniej mieszając ciasto. Ciasto rozprowadzić przechylając i obracając suchą patelnię naleśnikową, bez dodatkowego tłuszczu. Naleśniki smażyć po około minucie z każdej strony, podważać łopatką i na łopatce przewracać na drugą stronę. Można przechowywać w lod&oacute;wce lub mrozić. Można od razu podawać trzymając w cieple.</li><li><span style="color:#CC0033;font-weight:bold; ">Krem czekoladowy:</span><span style="color:#CC0033;"> </span>W rondelku lub garnku zagotować śmietankę, odstawić z ognia, dodać połamaną na kosteczki czekoladę i zostawić bez mieszania na 5 minut. Następnie wymieszać łyżką na gładki krem, przełożyć do czystej i suchej miseczki.</li><li><span style="color:#CC0033;font-weight:bold; ">Mus malinowy:</span> Do rondelka wsypać mrożone maliny i pod przykryciem rozmrozić podgrzewając na małym ogniu, od czasu do czasu potrząsając garnkiem. Następnie maliny zmiksować blenderem i przetrzeć przez sito. Dodać cukier puder, cukier wanilinowy, sk&oacute;rkę z pomarańczy jeśli używamy i wymieszać. Przelać do czystego dzbanuszka lub miseczki. Świeże maliny zmiksować i przetrzeć przez sitko, doprawić jak wyżej.</li><li>Naleśniki podgrzewać na parze lub w mikrofal&oacute;wce, przekładać kremem, zawijać w rulonik lub składać w tr&oacute;jkąt, posypać cukrem pudrem, podawać z musem malinowym i bitą śmietaną. Czytaj więcej w <span style="font:13px Arial, Verdana, Helvetica, sans-serif; color:#0000E9;">
            <a href="http://www.kwestiasmaku.com/blog-kulinarny/nalesniki-czekoladowe/" rel="self" title="Naleśniki czekoladowe">BLOGU</a></span>.</li></ul><br /><br />
        <img src="nalesniki2.jpg" alt="Naleśniki czekoladowe" width="660px" height="990px" />
        <br /><br /><img src="nalesniki3.jpg" alt="Naleśniki czekoladowe" width="660px" height="990px" />

        <div class="clearer"></div>
    </div>
</div>