<table class="table">
    <tbody>
    <tr class="success">
        <td>Imię i nazwisko:</td>
        <td>{{master.name}}</td>
    </tr>
    <tr class="danger">
        <td>E-mail: </td>
        <td>{{master.email}}</td>
    </tr>
    <tr class="info">
        <td>Treść: </td>
        <td>{{master.desc}}</td>
    </tr>
    </tbody>
</table>