<h2>Formularz kontaktowy</h2>

<div ng-controller="contactFormController">
    <form novalidate class="simple-form">
        <table class="table">
            <tbody>
            <tr class="success">
                <td>Imię i nazwisko:</td>
                <td><input type="text" ng-model="user.name" /></td>
            </tr>
            <tr class="danger">
                <td>E-mail: </td>
                <td><input type="email" ng-model="user.email" /></td>
            </tr>
            <tr class="info">
                <td>Treść: </td>
                <td><input type="text" ng-model="user.desc" /></td>
            </tr>
            </tbody>
        </table>
        <input type="button" ng-click="reset()" value="Wyczyść" />
        <input type="submit" ng-click="update(user)" value="Wyślij" />
    </form>
    <br />
    <p>Twoje ostatnio wysłane zapytanie:</p>
    <div user-info></div> <!-- DYREKTYWA -->
</div>