<div id="contentContainer">
  <div id="content">
    <span style="font-size:16px; color:#CC0033;font-weight:bold; ">Lody z zielonej herbaty</span>
    <br /><br /><strong>
    <em>Można zrobić dowolną metodą, w maszynie, foremkach na pojedyncze lody, lub po prostu schładzając masę w zamrażarce.</em>
  </strong><br /><br /><br /><div class="image-left">
   <img src="lody1.jpg" width="250px" height="250px" /></div><span style="color:#CC0033;font-weight:bold; "><br /></span><span style="color:#CC0033;font-weight:bold; ">Składniki:<br /><br /></span><span style="color:#CC0033;">&bull; </span>1 puszka mleka kokosowego (400 g) lub mleko migdałowe, skondensowane zwykłe krowie lub śmietanka krem&oacute;wka<br /><span style="color:#CC0033;">&bull; </span>1/3 szklanki wody<br /><span style="color:#CC0033;">&bull; </span>1/2 szklanki cukru<br /><span style="color:#CC0033;">&bull; </span>2 łyżeczki&nbsp;japońskiej herbaty w proszku (np.&nbsp;<em>matcha</em>&nbsp;lub&nbsp;<em>gyokuro</em>)<br /><span style="color:#CC0033;">&bull; </span>sok z 1 limonki<br /><br /><span style="color:#C00025;font-weight:bold; ">Przygotowanie:</span><br />Do lod&oacute;wki włożyć mleko kokosowe aby się schłodziło (można dzień wcześniej). Do rondelka lub metalowego kubka wlać wodę, dodać cukier i wymieszać. Zagotować, gotować jeszcze przez 3 minuty, odstawić z ognia i ostudzić. Dodać matchę i wymieszać do całkowitego rozpuszczenia. Wymieszać z mlekiem kokosowym i sokiem z limonki. Schłodzić dokładnie w lod&oacute;wce. <span style="color:#382425;">Czytaj więcej w </span><a href="http://www.kwestiasmaku.com/blog-kulinarny/lody-z-zielonej-herbaty/" rel="self" title="Lody z zielonej herbaty">BLOGU</a><span style="color:#382425;">.</span><br /><br /><span style="font-size:14px; color:#CC0033;"><br /></span><span style="font-size:14px; color:#CC0033;"><br /></span><span style="font-size:14px; color:#CC0033;font-weight:bold; ">Jak zrobić lody:</span><br /><ul class="disc"><li><strong>Forma do szybkiego wyrobu lod&oacute;w (na zdjęciu poniżej):</strong> zimną masę przelać do maszynki na pojedyncze lody i zamrozić zgodnie z instrukcją podaną przez producenta, najczęściej samą pustą maszynkę należy schłodzić w zamrażarce przez 24 godziny, następnie wlać zimną masę i odczekać około 8 - 10 minut aż powstaną lody.</li><li><strong>Maszyna do lod&oacute;w</strong>: masę wlać do maszyny do lod&oacute;w i ustawić odpowiedni program, postępować jak w instrukcji na opakowaniu.</li><li><strong>Plastikowe pojemniki na lody na patyku:</strong> masę wlać do plastikowych pojemniczk&oacute;w na pojedyncze lody na specjalnym plastikowym stelażu, wstawić do zamrażarki do czasu zmrożenia się masy.</li><li><strong>Bez żadnych akcesori&oacute;w: </strong>zimną masę wlać do miski, wstawić do zamrażarki, po godzinie dokładnie wymieszać. Powtarzać mieszanie co godzinę przez 6 godzin trzymając masę w lod&oacute;wce. Formować gałki lod&oacute;w za pomocą łyżki do lod&oacute;w lub zwykłej łyżki.</li></ul><br /><br /><img src="http://www.kwestiasmaku.com/zdjecia/1051.lody_z_zielonej_herbaty/lody_z_zielonej_herbaty_01.jpg" alt="Lody z zielonej herbaty" width="660px" height="990px" />
    <br /><br />
    <img src="lody2.jpg" alt="Lody z zielonej herbaty" width="660px" height="990px" />

    <div class="clearer"></div>
  </div>
</div>