<div id="contentContainer">
    <div id="content">
        <span style="font-size:16px; color:#CC0033;font-weight:bold; ">
            Ciasteczka czekoladowe<br />
        </span>
        <span style="font-size:13px; font-weight:bold; ">
            z kawałkami czekolady<br />
        </span><br />
        <br />
            <div class="image-left">
                <img src="ciasteczka1.jpg" width="250px" height="250px" />
            </div>
            <span style="color:#CC0033;font-weight:bold; "><br /></span>
            <span style="color:#CC0033;font-weight:bold; ">Składniki, około 20 sztuk:</span><br />
            <span style="color:#9D0024;">	</span>
            <span style="color:#CC0033;">&bull;</span>
            <span style="color:#9D0024;">	</span>1 szklanka z g&oacute;rką mąki razowej (użyłam 1850 orkiszowej)<br />
            <span style="color:#9D0024;">	</span>
            <span style="color:#CC0033;">&bull;</span>
            <span style="color:#9D0024;">	</span>1/2 szklanki z g&oacute;rką płatk&oacute;w owsianych (użyłam błyskawicznych)<br />
            <span style="color:#9D0024;">	</span>
            <span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1/2 szklanki mielonych migdał&oacute;w (lub orzech&oacute;w)<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1/2 szklanki cukru (użyłam trzcinowego nierafinowanego)<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1 łyżka cukru wanilinowego lub 1 łyżeczka ekstraktu z wanilii<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>2 łyżki kakao<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1 łyżeczka sody<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>szczypta soli<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1/2 łyżeczki cynamonu lub 1 łyżeczka przyprawy piernikowej<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>100 g masła (1/2 szklanki) miękkiego lub roztopionego i ostudzonego<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1 pełna łyżka miodu<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1/2 szklanki powideł śliwkowych<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>1 duże jajko<br /><span style="color:#9D0024;">	</span><span style="color:#CC0033;">&bull;</span><span style="color:#9D0024;">	</span>100 - 150 g ciemnej czekolady, pokrojonej w kosteczkę<br /><br /><br /><br /><br /><span style="color:#CC0033;font-weight:bold; ">Przygotowanie:</span><br /><ul class="disc"><li>Piekarnik nagrzać do 175 stopni. Do dużej miski wsypać mąkę, płatki owsiane, mielone migdały, cukier, cukier wanilinowy, kakao, sodę, s&oacute;l i cynamon lub przyprawę piernikową. Wymieszać.</li><li>W oddzielnej misce zmiksować lub wymieszać miękkie lub roztopione masło z miodem, powidłami i jajkiem. Dodać do sypkich składnik&oacute;w i kr&oacute;tko zmiksować lub wymieszać na jednolitą masę, na koniec połączyć z czekoladą.</li><li>Nakładać po 1 łyżce masy na blachę wyłożoną papierem do pieczenia (wykorzystać&nbsp;<strong>połowę</strong> masy). Wstawić do piekarnika i piec przez około 13 - 15 minut (ciasteczka po wyjęciu z piekarnika będą jeszcze miękkie, po ostygnięciu odpowiednio zastygną). Upiec podobnie drugą partię ciasteczek. Studzić na metalowej kratce. Czytaj więcej w
            </li></ul><br /><img src="ciasteczka2.jpg" width="660px" height="990px" />
        <br /><br /><br />
        <div class="clearer"></div>
    </div>
</div>